/* Global
================================ */

.grid-container {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-left: auto;
}

img {
	max-width: 100%;
}

/* Media Queries
================================ */

@media (min-width: 1px) and (max-width: 767px) {
	.grid-container > [class^="grid-"] {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.hide-mobile { /* Like Bootstrap's 'hidden-sm' + 'hidden-xs' */
		display: none;
	}
}

@media (min-width: 768px) {

	/* Columns
	================================ */

	.grid-container > [class^="grid-"] { /* Targets all grid classes */
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2%; /* 20px / 1000px */
	}
	.grid-container > [class^="grid-"]:first-child { /* Targets .grid-1 */
		margin-left: 0;
	}
	.grid-container > [class^="grid-"]:last-child { /* Targets .grid-12 */
		float: right;
	}

	/* Columns are 65px wide, with 20px gutters
	=========================================== */
	 /* target / context = result */
	.grid-1 {
		width: 6.5%; /* (65px column) / (1000px context) */
	}
	.grid-2 {
		width: 15%; /* (65px x 2) + (20px gutter) = (150px / 1000px) */
	}
	.grid-3 {
		width: 23.5%; /* (150px + 65px + 20px) = 235px / 1000px ) */
	}
	.grid-4 {
		width: 32%;
	}
	.grid-5 {
		width: 40.5%;
	}
	.grid-6 {
		width: 49%;
	}
	.grid-7 {
		width: 57.5%;
	}
	.grid-8 {
		width: 66%;
	}
	.grid-9 {
		width: 74.5%;
	}
	.grid-10 {
		width: 83%;
	}
	.grid-11 {
		width: 91.5%;
	}
	.grid-12 {
		width: 100%;
	}

	/* Clearfix
	================================ */

	.group:after,
	.grid-container:after { /* So that it's built in that .grid-container doesn't collapse */
	  content: " ";
	  display: table;
	  clear: both;
	}
}

@media (min-width: 1200px) { /* So that columns do not get too wide */
	.grid-container {
		max-width: 1100px;
	}
}
