/* ===================================
    Global
=================================== */
html, body {
	height: 100%;
}

body {
	background-color: white;
	color: #555;
	font-family: 'Arial', sans-serif; 
}
/*#background {
  background-image: url("../img/background.gif");
  background-repeat: repeat;
}*/

/* ===================================
    Nav
=================================== */
nav {
	margin: 0 auto;
	text-transform: uppercase;
	width: 90%;
}
nav > a {
	float: left;
}
nav li {
	border-left: 1px solid #555;
	display: inline-block;
	float: right;
	line-height: 0;
	margin-top: 25px;
	padding: 1.5% 2%;
}
nav li:last-child {
	border-left: none;
}
nav a:link:not(#logo) {
	color: #333;
	padding: 10px;
	text-decoration: none;
   	vertical-align: middle; 
}
nav a:visited {
	color: #333;
}
nav a:hover, nav a:focus {
	color: black;
	text-decoration: underline !important;
}

/* ===================================
    Landing Page
=================================== */
#landing-page-photo {
	background-color: lightgray;
	height: 400px;
	text-align: center;
}
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	left: 27.5%;
	position: absolute;
}
#stage-top, #stage-bottom {
	background-color: black;
}
#stage-top {
	height: 151px;
	margin: -56px auto 0;
	width: 90%;
}
#stage-top-inner {
	width: 80%;
	margin: 0 auto;
}
#stage-top a:first-child {
	float: left;
}
#stage-top a:last-child {
	float: right;
}
#stage-top img:first-child, #stage-top img:last-child {
	margin-top: 20px;
}
#stage-top p {
	color: cyan;
	font-size: 12px;
	left: 37.5%;
	position: absolute;
	text-transform: uppercase;
}
#stage-top sup {
	letter-spacing: 3px;
}
#stage-bottom {
	height: 135px;
	text-align: center;
}
#stage-bottom ul {
	margin-top: -120px;
}
#stage-bottom li {
	display: inline-block;
	padding: 0 1%;
}

/* ===================================
    Footer
=================================== */
footer {
	font-size: 14px;
	margin: 0 auto;
	text-transform: uppercase;
	width: 90%;
}
#wrapper, #content-wrapper, #footer-wrapper, #footer-inner-wrapper, #content-inner-wrapper {
	width: 100%;
}
#wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 0 -25px;
	min-height: 100%;
}
#content-wrapper {
	min-width: 94.2%;
	padding: 0 0 25px;
}
#footer-wrapper {
	background-color: #333;
	height: 25px;
	min-width: 94.2%;
}
#footer-inner-wrapper, #content-inner-wrapper {
	margin: 0 auto;
}
