/* ===================================
    Global
=================================== */
html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	/*padding-top: 120px; */
}
.container {
	max-width: 1000px;
}
img {
	max-width: 100%;
	height: auto;
}

/* ===================================
    Nav
=================================== */
.navbar-default {
	background-color: #fff; /* Also controls footer color */
	border: none;
	text-transform: uppercase;
}
.nav li {
	border-left: 1px solid #999;
	line-height: 0;
	margin-top: 20px;
	padding: 0 10px;
}
.nav li:first-child {
	border-left: none;
}
.navbar-brand {
	padding-bottom: 0;
	padding-top: 0;
}
.navbar-toggle {
	margin-top: 29px;
}
.navbar-collapse {
	border-top: none;
}

/* ===================================
    Landing Page
=================================== */
#landing-page-photo-frame, #landing-page-photo {
	background-color: lightgray;
	height: 20px;
	margin-top: 10px;
}
#landing-page-photo {
	height: 400px;
	text-align: center;
}
#landing-page-photo h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	margin-top: -10px;
}
#landing-page-photo p {
	margin-top: 80px;
}
#stage-top, #stage-bottom {
	background-color: black;
}
#stage-top {
	height: 161px;
	margin: -56px auto 0;
	text-align: center;
	width: 90%;
}
#stage-top-inner {
	margin: 0 auto;
	width: 80%;
}
#stage-top p {
	color: cyan;
	font-size: 12px;
	margin-top: 10px;
	text-transform: uppercase;
}
#stage-top sup {
	letter-spacing: 4px;
}
#stage-top a:first-child { /* Sign in record link */
	float: left;
}
#stage-top a:last-child { /* Sign up record link */
	float: right;
}
#stage-top img:first-child, #stage-top img:last-child {
	margin-top: -15px;
	width: 90%;
}
#stage-bottom {
	height: 135px;
	text-align: center;
}
#stage-bottom ul {
	margin-top: -110px;
	padding-left: 0;
}
#stage-bottom li {
	display: inline-block;
	padding: 0 1px;
}
#stage-bottom img {
	width: 75%;
}

/* ===================================
    Footer
=================================== */
#wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; 
    min-height: 100%;
}
.space-above-footer {
	height: 100px;
}
footer {
	/*background-color: lightgray !important;*/
}
footer a {
	font-size: 12px !important;
	letter-spacing: 1px;
}
footer a:hover, footer a:focus {
	text-decoration: none;
}

/* ===================================
    Media Queries
=================================== */
@media only screen and (max-width: 1092px) {
/* 1st breakpoint of record button */
/*	#stage-bottom img { max-width: 70% }
	#stage-bottom li { padding: 0; }*/
}
@media only screen and (max-width: 991px) {
/* Breakpoint of nav */
	.navbar-right { margin-top: 30px; }
	.nav li { border-left: none; margin-top: 10px; }
	/*.nav li:first-child { padding-left: 0; }*/
	.nav a { padding-bottom: 0 !important; padding-left: 0 !important; }
	#landing-page-photo-frame { height: 35px; } 
}
@media only screen and (max-width: 973px) {
/* 2nd breakpoint of record button */
/*	#stage-top img { max-width: 80%; }
	#stage-bottom ul { margin-right: 30px; margin-top: -105px; }*/
}
@media only screen and (max-width: 768px) {
/* Breakpoint of Bootstrap's menu icon */
	.navbar li:hover, .navbar li:focus { background-color: lightgray !important; width: 100%;}
	.navbar a:not(.navbar-brand) { margin-left: 30px; }
}
@media only screen and (max-width: 560px) {
/* Breakpoint of '#landing-page-photo h1' */
	#landing-page-photo h1 { font-size: 21px; }
}
@media only screen and (max-width: 528px) {
/* Breakpoint of logo */
	/*body { padding-top: 60px; }*/
	.navbar-brand img { width: 215px; }
	.navbar-right { margin-top: 0; }
	.navbar-toggle { margin-top: 10px; }
}
