@import "_customized.bootstrap.min.scss";

/* ===================================
    Variables
=================================== */
$nav-border: 1px solid #cecece;
$musiclaps-light-gray: #e7e7e7;
$musiclaps-dark-gray: #444; // Whichever shade of gray is in the logo - TBD
$musiclaps-blue: #38AAFF; // Whatever shade of blue you want

/* ===================================
    Mixins
=================================== */
// @mixin border-radius($radius) {
// 	-webkit-border-radius: $radius;
// 	-moz-border-radius: $radius;
// 		 border-radius: $radius;
// }

@mixin transform($degrees) {
	-webkit-transform:rotate($degrees);
		-ms-transform:rotate($degrees);
			transform:rotate($degrees);
}

/* ===================================
    Global
=================================== */
html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	// padding-top: 120px;
}

img {
	max-width: 100%;
	height: auto;
}

/* ===================================
    Nav
=================================== */
.navbar-default {
	background-color: $musiclaps-light-gray; // Also controls footer color because they share the Bootstrap class name
	border-bottom: $nav-border;
	text-transform: uppercase;
}

.navbar-header {
	height: 78px;
}

.nav li {
	margin-top: 23px;
	a {
		color: $musiclaps-dark-gray !important;
		letter-spacing: 0.5px;
		line-height: 0;
		&:hover {
			color: $musiclaps-blue !important;
		}
	}
}

.navbar-left li {
	border-left: 1px solid $musiclaps-blue;
	&:first-child {
		border-left: none;
	}
}

.navbar-right li {
	border: $nav-border;
	&:first-child {
		background-color: lightgray;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		&:hover {
			background-color: #d9d9d9;
		}
		a:hover {
			color: black !important;
		}
	}
	&:last-child {
		background-color: $musiclaps-blue;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		&:hover {
			background-color: #45B7FF;
		}
		a {
			color: white !important;
		}
	}
}

.navbar-toggle {
	margin-top: 23px;
}

.navbar-collapse {
	border-top: none;
}

/* ===================================
    Landing Page
=================================== */
h1.landing-page {
	color: $musiclaps-dark-gray;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	font-weight: normal; // For customized Bootstrap
	letter-spacing: 0.5px;
	margin-top: 0;
	margin-bottom: 0; // For customized Bootstrap
	text-align: center;
	// &:first-child {
	// 	border-top: $nav-border;
	// 	padding-top: 10px;
	// }
	span {
		color: $musiclaps-blue;
	}
}

#landing-page-hero {
	margin-top: 20px;
	text-align: center;
	img {
		margin-top: 220px;
	}
}

.musical-notes-map {
	background-image: url('../img/world_map_bg.png');
	// background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#stage {
	background-color: $musiclaps-dark-gray;
	height: 161px;
	margin-top: -20px;
	text-align: center;
	width: 100%;
	#stage-inner {
		margin: 0 auto;
		width: 80%;
		#soundcheck, #record-demo {
			margin-top: 55px;
			padding-left: 0;
			padding-right: 0;
			a {
				color: white;
				font-family: 'Allerta Stencil', sans-serif;
				font-size: 26px;
				&:hover {
					color: $musiclaps-blue;
					cursor: pointer;
					cursor: hand;
					text-decoration: none;
				}
			}
		}
		#soundcheck {
			@include transform(7deg);
		}
		#record-demo {
			@include transform(-7deg);

		}
		p {
			color: $musiclaps-blue;
			font-size: 12px;
			letter-spacing: 0.5px;
			margin-top: 20px;
			text-transform: uppercase;
			sup {		
				letter-spacing: 4px;
				&:nth-child(2), &:last-child {
					display: none; // Only visible at viewport widths <= 818px
				}
			}
		}
		ul {
			margin-top: -40px;
			padding-left: 0;
			li {
				display: inline-block;
				img {
					transition: 0s linear;
					width: 75%;
					&:hover {
						-webkit-transform: scale(1.1);
							-ms-transform: scale(1.1);
								transform: scale(1.1);
					}
				}
			}
		}
	}
}

/* ===================================
    Footer
=================================== */
#wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; 
    min-height: 100%;
}

.space-above-footer {
	height: 100px;
}

footer {
	// background-color: lightgray !important;
	height: 50px;
	a {
		font-size: 12px !important;
		letter-spacing: 1px;
	}
}

/* ===================================
    Media Queries
=================================== */
@media only screen and (max-width: 1087px) {
// Breakpoint of "Click on any button to start"
	#stage-inner {
		sup {
			&:first-child, &:nth-child(3) { display: none; }
			&:nth-child(2), &:last-child { display: inline-block !important; }
		}
	}
}

@media only screen and (max-width: 1016px) {
// Breakpoint of Sound Check" and "Record a Demo"
	#stage-inner { width: 100% !important; }
}

@media only screen and (max-width: 818px) {
// Breakpoint of "Record a Demo"
	#stage-inner {
		#soundcheck, #record-demo {
			a {
				font-size: 20px !important;
			}
		}
		ul {
			margin-top: -20px !important;
			img {
				width: 65% !important;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
// Breakpoint of Bootstrap's collapsed menu
	.navbar-default { background-color: #fff; border: none; }
	.navbar-header { background-color: $musiclaps-light-gray; }
	.navbar a:not(.navbar-brand) { margin-left: 10px; }
	// .navbar li:hover { background-color: lightgray; padding-bottom: 10px; padding-top: 10px; }
	.navbar-left { margin-top: 0; }
	.navbar-right {
		margin-top: 0;
		li {
			&:first-child, &:last-child { 
				background-color: white !important; // Changes "Log in" and "Register" button color to match the rest of the links in the collapsed menu
				border: none; // Removes "Log in" and "Register" border color to match the rest of the links in the collapsed menu
				a:hover {
					color: #666 !important; // Changes "Log in" and "Register" link color to match the rest of the links in the collapsed menu
				} 
			}
			&:last-child {
				border-bottom: $nav-border;
				padding-bottom: 10px;
			}
			&:last-child a {
				color: $musiclaps-dark-gray !important; // Changes "Register" link color so that it's visible and matches the rest of the links in the collapsed menu
			}
		}
	}
	h1.landing-page { font-size: 24px; }
	#stage-inner {
		#soundcheck, #record-demo {
			a {
				display: none;
			}
		}
		p {
			margin-top: -30px !important;
		}
		ul {
			margin-top: -40px !important;
		}
	}
}

@media only screen and (max-width: 590px) {
// Breakpoint of "Online Music Collaboration Made Simple...Just Log in and Start Recording" 
	h1.landing-page { font-size: 20px; }
}
