/* ===================================
    Global
=================================== */
html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	/*padding-top: 120px; */
}
img {
	max-width: 100%;
	height: auto;
}

/* ===================================
    Nav
=================================== */
.navbar-default {
	background-color: #fff; /* Also controls footer color */
	border: none;
	text-transform: uppercase;
}
.nav li {
	border-left: 1px solid #999;
	line-height: 0;
	margin-top: 20px;
	padding: 0 10px;
}
.nav li:first-child {
	border-left: none;
}
.navbar-brand {
	padding-bottom: 0;
	padding-top: 0;
}
.navbar-toggle {
	margin-top: 29px;
}
.navbar-collapse {
	border-top: none;
}

/* ===================================
    Landing Page
=================================== */
#landing-page-hero-frame, #landing-page-hero {
	/*background-color: lightgray;*/
	height: 20px;
	margin-top: 10px;
}
#landing-page-hero {
	height: 400px;
	text-align: center;
}
#landing-page-hero h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	font-weight: normal; /* Only for customized Bootstrap */
	line-height: 35px; /* Only for customized Bootstrap */
	margin-top: -10px;
	margin-bottom: 10px; /* Only for customized Bootstrap */
}
#landing-page-hero img {
	/*margin-top: 51px;*/
}
#landing-page-hero-img {
	background-image: url('../img/musician-silhouette.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	/*width: 100%;*/
}
#stage-top, #stage-bottom {
	background-color: black;
}
#stage-top {
	height: 161px;
	margin: -56px auto 0;
	text-align: center;
	width: 90%;
}
#stage-top-inner {
	margin: 0 auto;
	width: 80%;
}
#stage-top p {
	color: cyan;
	font-size: 12px;
	margin-top: 10px;
	text-transform: uppercase;
}
#stage-top sup {
	letter-spacing: 4px;
}
#stage-top sup:nth-child(2), #stage-top sup:last-child { /* Only visible at viewport widths < 472px */ 
	display: none; 
}
#stage-top a:first-child { /* Sign in record link */
	float: left;
}
#stage-top a:last-child { /* Sign up record link */
	float: right;
}
#stage-top img {
	margin-top: -15px;
	width: 90%;
}
#stage-bottom {
	height: 135px;
	text-align: center;
}
#stage-bottom ul {
	margin-top: -110px;
	padding-left: 0;
}
#stage-bottom ul:last-child { /* Only visible at viewport widths < 628px */
	display: none;
	/*margin-top: -20px;  To pass W3C markup validation */
}
/*#stage-bottom ul:last-child li {  To pass W3C markup validation 
	margin-left: 5px;
	margin-right: 5px;
}*/
#stage-bottom li {
	display: inline-block;
	padding: 0 1px;
}
#stage-bottom img {
	width: 75%;
}

/* ===================================
    Footer
=================================== */
#wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; 
    min-height: 100%;
}
.space-above-footer {
	height: 100px;
}
footer {
	/*background-color: lightgray !important;*/
	height: 50px;
}
footer a {
	font-size: 12px !important;
	letter-spacing: 1px;
}
footer a:hover, footer a:focus {
	text-decoration: none;
}

/* ===================================
    Media Queries
=================================== */
@media only screen and (max-width: 991px) {
/* Breakpoint of nav and record button */
	.navbar-right { margin-top: 30px; }
	.nav li { border-left: none; margin-top: 10px; }
	.nav li:first-child { padding-left: 0; }
	.nav a { padding-left: 0 !important; }
	#landing-page-hero-frame { height: 35px; }
	#stage-top p { margin-top: 26px; }
	#stage-top img { width: 75%; }
	#stage-bottom li { margin-top: 20px; width: 59px; }
}
@media only screen and (max-width: 768px) {
/* Breakpoint of Bootstrap's menu icon */
	.nav li:first-child { padding-left: 10px; }
	/*.navbar li:hover, .navbar li:focus { background-color: lightgray !important; }*/
	.navbar a:not(.navbar-brand) { margin-left: 30px; }
	#stage-bottom { height: 115px; }
	#stage-top img { margin-top: 0; width: 60%; }
	#stage-bottom li { width: 48px; }
}
@media only screen and (max-width: 728px) {
/* Breakpoint of hero image */
	#landing-page-hero img { margin-top: 52px;
}

}
@media only screen and (max-width: 688px) {
/* Breakpoint of record button */
	#stage-top img { width: 45%; }
	#stage-bottom li { width: 37px; }
}
@media only screen and (max-width: 627px) {
/* Breakpoint of record button */
	#stage-top { height: 61px; margin-top: -162px; }
	#stage-bottom ul { margin-top: -30px; }
	#stage-bottom ul:first-child { display: none; }
	#stage-bottom ul:last-child { display: inline-block; }
}
@media only screen and (max-width: 560px) {
/* Breakpoint of 'Online Music Collaboration Made Simple...Just Log in and Start Recording' */
	#landing-page-hero h1 { font-size: 21px; }
}
@media only screen and (max-width: 528px) {
/* Breakpoint of logo */
	/*body { padding-top: 60px; }*/
	.navbar-brand img { width: 215px; }
	.navbar-right { margin-top: 0; }
	.navbar-toggle { margin-top: 10px; }
}
@media only screen and (max-width: 471px) {
/* Breakpoint of 'Record Sound Check' */
	#landing-page-hero h1 { font-size: 21px; }
	#stage-top-inner { width: 100%; }
	#stage-top sup:first-child, #stage-top sup:nth-child(3) { display: none; }
	#stage-top sup:nth-child(2), #stage-top sup:last-child { display: inline-block; }
}
