.shadow{overflow:hidden}.cpMainContainer{background-color:#2f2f2f;height:100%;width:100%;padding:0;position:absolute}.blocker{position:fixed;left:0;top:0;display:none}.loadingBackground{background-color:#777;opacity:.5}.loadingString{color:#fff;font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;font-size:12px}.cp-movie{display:none;overflow:hidden;position:absolute}.cp-rewrap{display:block;position:absolute}.cp-frameset{display:none;overflow:visible;position:absolute}.cp-input{display:block;position:absolute;left:0;top:0;width:0;height:0}.cp-audio{display:none;position:fixed;left:0;top:0;width:0;height:0}.cp-video,.cp-shape,.cp-mc,.cp-gf{display:block;position:absolute;left:0;top:0;width:0;height:0}body{background-color:#fff}.autoPlayButton,.autoPlayButton:hover{background:url('../htmlimages/Play_icon.png') no-repeat;width:96px;height:96px;float:left;position:absolute;left:50px}.cp-vtxt{display:block;position:absolute}.gestureIcon{top:10px;right:0;width:32px;height:32px;position:absolute;display:block;background:url('../htmlimages/gesturemobileicon.png') no-repeat}.gestureHintDiv{left:0;top:0;right:0;bottom:0;margin:auto;width:100%;height:100%;z-index:10;display:none;position:fixed;background-color:rgba(0,0,0,0.5)}@media all and (max-width:335px){.gesturesHint{left:0;top:0;right:0;bottom:0;margin:auto;width:186px;height:469px;display:block;position:fixed;background:url('../htmlimages/gesturemobileimage2.png') no-repeat}}@media all and (max-width:531px) and (min-width:335px){.gesturesHint{left:0;top:0;right:0;bottom:0;margin:auto;width:335px;height:281px;display:block;position:fixed;background:url('../htmlimages/gesturemobilelandscape.png') no-repeat}}@media all and (min-width:531px){.gesturesHint{left:0;top:0;right:0;bottom:0;margin:auto;width:531px;height:277px;display:block;position:fixed;background:url('../htmlimages/gesturetabletimage.png') no-repeat}}.gestureAnimation{left:0;top:0;right:0;bottom:0;margin:auto;display:block;position:absolute}.playAnimation{width:104px;height:104px;background:url('../htmlimages/Play2x.gif') no-repeat}.pauseAnimation{width:104px;height:104px;background:url('../htmlimages/Pause2x.gif') no-repeat}@-webkit-keyframes fadeinfadeout{0%{opacity:0}50%{opacity:1}to{opacity:0}}.videoContainer{width:100%;height:100%;position:absolute;bottom:0;overflow:hidden;color:#ccc}.control{background:url('../htmlimages/vidbg.png') 0 0;color:#f00;position:absolute;margin-bottom:5px;left:5px;right:5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;z-index:5;display:none}.btmControl{clear:both;height:100%;width:100%;background:-webkit-linear-gradient(top,#242424 50%,#1f1f1f 50%,#171717 100%);background:-moz-linear-gradient(top,#242424 50%,#1f1f1f 50%,#171717 100%);background:-o-linear-gradient(top,#242424 50%,#1f1f1f 50%,#171717 100%);background:#1f1f1f}.control div.btn{float:left;width:34px;height:30px;cursor:pointer;margin-top:5px}.control div.text{font-size:12px;font-weight:bold;line-height:30px;text-align:center;font-family:verdana;width:20px;border:none;color:#777}.control div.btnRewind{background:url('../htmlimages/vidrewind.png') no-repeat 0 0;margin-left:5px}.control div.btnPlay{background:url('../htmlimages/vidplay.png') no-repeat 0 0}.control div.paused{background:url('../htmlimages/vidpause.png') no-repeat 0 0}.control div.btnStop{background:url('../htmlimages/vidstop.png') no-repeat 0 0}.control div.sound{background:url('../htmlimages/vidvolume.png') no-repeat 0 0;border:none;float:right;margin-top:7px}.control div.sound2{background:url('../htmlimages/vidvolume2.png') no-repeat 0 0!important;margin-top:7px}.control div.muted{background:url('../htmlimages/vidvolumemute.png') no-repeat 0 0!important;margin-top:7px}.progress{height:10px;float:left;display:block;cursor:pointer;background:-webkit-linear-gradient(top,#666,#333);background:-moz-linear-gradient(top,#666,#333);background:-o-linear-gradient(top,#666,#333);background:#444;box-shadow:0 2px 3px #333 inset;-moz-box-shadow:0 2px 3px #333 inset;-webkit-box-shadow:0 2px 3px #333 inset;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin-top:13px;margin-left:10px}.progress span{height:100%;float:left;display:block;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}.progressThumb{display:block;background:url('../htmlimages/vidslider.png') no-repeat;left:0;margin-top:-4px;margin-left:-5px;position:relative;height:20px;width:20px}.timeBar{z-index:10;width:0;background:-webkit-linear-gradient(top,#a0dcff 50%,#3fb7fc 50%,#16a9ff 100%);background:-moz-linear-gradient(top,#a0dcff 50%,#3fb7fc 50%,#16a9ff 100%);background:-o-linear-gradient(top,#a0dcff 50%,#3fb7fc 50%,#16a9ff 100%);background:#3fb7fc;box-shadow:0 0 1px #fff;-moz-box-shadow:0 0 1px #fff;-webkit-box-shadow:0 0 1px #fff}.control div.btnFS{background:url('../htmlimages/vidfullscreen.png') no-repeat 0 0;float:right}.volume{position:relative;cursor:pointer;width:70px;height:10px;float:right;margin-top:13px;margin-right:17px;display:block;cursor:pointer;background:-webkit-linear-gradient(top,#666,#333);background:-moz-linear-gradient(top,#666,#333);background:-o-linear-gradient(top,#666,#333);background:#444;box-shadow:0 2px 3px #333 inset;-moz-box-shadow:0 2px 3px #333 inset;-webkit-box-shadow:0 2px 3px #333 inset;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}.volumeBar{display:block;float:right;height:10px;position:absolute;z-index:10;background:-webkit-linear-gradient(top,#a0dcff 50%,#3fb7fc 50%,#16a9ff 100%);background:-moz-linear-gradient(top,#a0dcff 50%,#3fb7fc 50%,#16a9ff 100%);background:-o-linear-gradient(top,#a0dcff 50%,#3fb7fc 50%,#16a9ff 100%);background:#3fb7fc;box-shadow:0 0 1px #fff;-moz-box-shadow:0 0 1px #fff;-webkit-box-shadow:0 0 1px #fff}.volumeThumb{display:block;background:url('../htmlimages/vidslider.png') no-repeat;left:0;margin-top:-4px;margin-left:-5px;position:absolute;height:20px;width:20px;z-index:11}.init{position:absolute;top:0;left:0;width:100%;height:100%;background:url('../htmlimages/vidplay.png') no-repeat 50% 50%;z-index:2;display:none;cursor:pointer}.playButton
{
	background:url('../Playbar_icons/Play_icon.png') no-repeat;
	width:58px;
	height:59px;
	float:left;
	position:absolute;
	left:50px;
}
.playButton:hover
{
	background:url('../Playbar_icons/Play_icon.png') no-repeat;
	width:58px;
	height:59px;
	float:left;
	position:absolute;
	left:50px;
}
.playbarBackGround
{
	-webkit-box-shadow: 5px 5px 5px #aaa; 
	-moz-box-shadow: 5px 5px 5px #aaa; 
	box-shadow: 5px 5px 5px #aaa; 
	height:45px;
}
.playbarSmallButton
{
	width:51px;
	height:36px;
	float:left;
	display:inline;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
.playbarSmallButton:hover {cursor:pointer;} 
.playbarBigButton
{
	width:80px;
	height:36px;
	float:left;
	display:inline;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
.playbarBigButton:hover {cursor:pointer;} 
.playbarSlider
{
	width:60px;
	float:left;
	display:inline;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
.playbarSliderThumb
{
	position : absolute;
	top : 9px;
}
.playbarSliderThumb:hover {cursor:pointer;}