/* ===================================
    Global Config
=================================== */

// Font Stacks

$font-family--primary: 'Roboto', sans-serif;
$font-family--secondary: 'Roboto Condensed', sans-serif;


// Descriptive Base Colors

$musiclaps-blue: #38AAFF;
$musiclaps-light-gray: #e7e7e7;
$musiclaps-dark-gray: #444;


// Borders

$modal-border: 5px solid $musiclaps-light-gray;
$musiclaps-blue-border: 1px solid $musiclaps-blue;
$nav-border: 1px solid #cecece;  // Note that there is a mixin with the same name
$table-border: 1px solid #ddd;


// Box Shadows

$box-shadow: 10px 10px 5px $musiclaps-dark-gray;


// Path to Assets

$path--rel: '../../assets/images';