/* ===================================
    Media Queries
=================================== */
@media only screen and (max-width: 1199px) {
	ul.user-menu { // Nav below top nav
		li {
			&:not(.first-list-item) { padding-left: 5px; } // Not "Profile" / "My Profile" tabs
			&.dropdown-menu-list-item { padding-left: 0; } // Makes gray hover rectangle cover entire link
		}
	}
	.wmuSliderPrev { left: 0; } // Slider button
	.wmuSliderNext { right: 0; } // Slider button
	.public-project-listing {
		h3, h4:not(.last-h4) { margin-left: 0 !important; }
	}
	#all-music-page {
		section.projects-container {
			margin-top: 25px;
			h4, h5 { margin-left: 12px; }
		}
	}
	section.public-project-header h5, img#cover-song {
		margin-right: 24px !important;  // Aligns elements with Live Player
	}
	form.profile-page input#change-password { // Needs either this level of specificity or "!important" tag
		margin-top: 25px;
		margin-left: 0;
	}
	section.profile-right.profile-page { height: 1342px; }
}

@media only screen and (max-width: 991px) {
// Point at which Bootstrap's nav becomes uncollapsed (this is by default 767px but has been customized), point at which nav below top nav collapses into "User Menu", and breakpoint of social media icons on footer
	nav {
		&.navbar a:not(.navbar-brand) { margin-left: 10px; }
		ul {
			&.nav a { padding: 10px !important; }
			&.navbar-left { 
				margin-top: 0;
			 	li { border-left: none; } // Removes border to the left of links
			}
			.dropdown {
				a .caret { display: inline-block !important; }
				ul.dropdown-menu li { 
					margin-left: 20px !important; // Indents subcategories of "Music", "People", and "Our Story"
					a {
						padding-bottom: 0 !important;
						&:last-child { margin-bottom: 0; }
					}
				} 
			}
			&#flags a { margin-left: 5px; } // Overwrites the above ("&.navbar a:not(.navbar-brand) { margin-left: 10px; }")
		}
		// input.search, .glyphicon-search, ul#flags {
		// 	position: absolute;
		// }
		form.search {
			display: none;
			// left: 85px;
			// top: 40px;
		}
		.glyphicon-search {
			display: none;
			// color: $musiclaps-dark-gray;
			// left: 259px;
			// top: 70px;
		}
		ul#flags {
			float: left;
			margin: 0;
			position: absolute;
			top: 65px;
			li:first-child { margin-right: 0px; }
		}
		ul.navbar-right#logged-out, ul.navbar-right#logged-in { margin-top: 0; }
		ul.navbar-right#logged-out li {
			&:first-child, &:last-child { 
				background-color: $musiclaps-light-gray !important; // Changes "Log in" and "Register" button color to match the rest of the links in the collapsed menu
				border: none; // Removes "Log in" and "Register" border color to match the rest of the links in the collapsed menu
				a:hover, a:focus { color: $musiclaps-blue !important; } // Changes "Log in" and "Register" link color to match the rest of the links in the collapsed menu
			}
			&:first-child { margin-top: 15px; }
			&:last-child { 
				margin-bottom: 7px; 
				padding-bottom: 10px;
				a { color: $musiclaps-dark-gray !important; } // Changes "Register" link color so that it matches the rest of the links in the collapsed menu
			}
		}
		ul.navbar-right#logged-in {
			li {
				&.messages-sm, &#welcome-user-sm { display: none; }
				&#welcome-user-xs { 
					display: block;
					padding-left: 10px;
					margin-bottom: 17px;
					margin-left: 12px;
					margin-top: 0 !important;
					a.welcome-user-link {
						margin-left: 0; 
						padding-left: 0 !important;
					}
				}
				&#log-out {
					margin-bottom: 15px;
					margin-top: 15px; // Gives "Log Out" link on collapsed menu approximately the same top spacing as other nav links
					input { // "Log out" link
						border: none;
						margin-left: 12px;
						padding-top: 0;
						text-transform: uppercase;
						&:hover, &:focus {
							background-color: $musiclaps-light-gray;
							color: $musiclaps-blue;
						}
					}
				}
			}
		}
		.glyphicon-user, h4 { display: inline-block !important; }
	}
	ul.user-menu { // Collapsed "User Menu"
		display: none; // Serves to make menu appear collapsed
		margin-top: 0 !important;
		li {
			border-bottom: none !important;
			padding: 0 !important;
		}
		a {
			border: none !important; // "border-left", "border-right", and "border-top"
			margin-left: 10px; // Aligns links with ".glyphicon-user"
			&:hover, &:focus, &:not(.active) { background-color: white !important; }
		}
		.dropdown-menu {
			border: none;
			box-shadow: none;
			float: none;
			position: static;
			a {
				margin-bottom: 0 !important;
				margin-left: 45px;
				padding-top: 20px !important;
			}
		}
	}
	section {
		&#technology, &#backstage, &.music-ed, &.contests-and-auditions {
			img { display: none; }
		}
	}
	.public-project-listing {
		h3, h4:not(.last-h4) { margin-left: 10px !important; }
		h3 {
			font-size: 14px;
			margin-top: 10px; 
		}
		h4 { font-size: 12px; }
	}
	#all-music-page .col-xs-12.col-md-4 { 
		padding-right: 0; 
		h4, h5 { margin: 0; }
	}
	section.public-project-header h5, img#cover-song { margin-right: 38px !important; } // Aligns elements with Live Player
	.about-me { border-top: none; }
	h4.my-public-projects-heading { margin-bottom: 0; }
	section.public-projects-and-collaborations { 
		margin-top: 10px;
		width: 100% !important;
		h4, h5 { 
			display: block !important;
			margin-left: 0 !important;
		}
		h4 { margin-top: 17px; }
	}
	#upload-avatar li { font-size: 12px; }
	input#save-profile { 
		margin-left: 0 !important; 
		margin-top: 25px !important;
	}
	.profile-right-container {
		margin-left: 25px;
		padding-right: 0;
		&.project-details-page {
			margin-left: 0;
			margin-top: 80px;
			padding-left: 0;
		}
		section.profile-right.profile-page { height: 1371px; }
	}
	.public-project-page.row.col-xs-12.col-md-3, .recommended.row.col-md-3, .youtube-page.row.col-md-3 { display: none; } // Project listings and "Recommended" box
	#youtube-links-settings { margin-left: 0; }
	.favorites-page.col-sm-12.col-md-6:nth-child(odd) { padding-right: 15px; }
	.favorites-page.col-sm-12.col-md-6:nth-child(even) { padding-left: 15px; }
	footer {
		a.navbar-brand { position: absolute; }
		ul.navbar-left, ul.navbar-right { margin-top: 50px; }
		ul.navbar-left { 
			float: left !important;
			margin-left: 5px;
			padding-bottom: 15px;
			li { border-left: none; } // Removes border to the left of links
		}
		ul.navbar-right {
			float: right !important;
			text-align: right;
		}
	}
}

@media only screen and (max-width: 818px) {
// Breakpoint of "Music Education" and "Contests and Auditions" (Landing Page)
	#stage-inner ul { top: -42px; }
}

@media only screen and (max-width: 767px) {
// Bootstrap's "xs" viewport width
	#sn-login-modal-body-sm { display: none; }
	#sn-login-modal-body-xs {
		display: inline-block !important;
		ul { text-align: left; }
		li:not(.first-list-item) { margin-top: 15px; }
		img { margin-bottom: 1px; } // Social media icons
		input { // Social media login buttons
			@include submit-button($musiclaps-light-gray, $nav-border, 3px 6px, #d9d9d9);
			@include border-bottom-right-radius(5px);
			@include border-top-right-radius(5px);
			margin-left: 1px;
		}
	}
	#musical-notes-map { // Makes map static on smaller devices - currently only working in Opera
		margin-left: 0;
		width: auto;
	    -webkit-animation: none 0 ease 0 1 normal none running;
	       -moz-animation: none 0 ease 0 1 normal none running;
	    	 -o-animation: none 0 ease 0 1 normal none running;
	       		animation: none 0 ease 0 1 normal none running;
	  	-webkit-transition: all 0 ease 0;
	  	   -moz-transition: all 0 ease 0;
	  		 -o-transition: all 0 ease 0;
	       	 	transition: all 0 ease 0; 
	}
	#stage-inner {
		#education, #contests {
			a { display: none; }
		}
		p { margin-top: -30px !important; } // "Record a Demo"
		ul { top: -55px !important; }
	}
	.wmuSlider { display: none; } // Hides image slider below stage
	#new-arrivals-page, #recommended-page, #staff-picks-page, #collaborations-page {
		&.container { 
			padding-right: 0; 
			h1, h3, h4.last-h4 { margin-top: 0; }
			.public-project-listing { 
				&.first { margin-top: 10px; }
				.glyphicon-ok { margin-left: 10px; }
			}
			.ads-container img { display: none; }
		} 

	}
	#all-music-page {
		.ads-container img { display: none; }
		h1 { margin-top: 0; }
		.col-xs-12.col-md-4 { 
			padding-right: 15px; 
			section.projects-container.first { margin-top: 10px; }
		}
	}
	#players-wanted-page, #forum-page { margin-top: 0; }
	nav {
		.glyphicon-user { margin-left: 15px; } // Aligns with ".profile-right-container"
		ul.user-menu a { margin-left: 25px; } // Aligns links with ".glyphicon-user"
	}
	.profile-page.row.col-xs-12.col-sm-8 { 
		margin-left: 0; // Aligns with ".profile-right-container"
		#edit-save-profile { text-align: left !important; }
		h2.user-id { margin-top: 10px !important; }
	}
	.about-me {
		margin-left: 5px;
		margin-top: 15px;
		li.profile-pages {
			display: block;
			float: none !important;
			margin-top: 8px;
		}
	}
	.row.col-xs-12.col-sm-4.profile-right-container {
		padding-right: 15px;
	}
	.project-details-page.row.col-xs-12.col-md-9, .profile-right-container, #new-project-page.row.col-xs-12.col-md-9, .projects-container.row.col-xs-12.col-md-9, 
	.lyrics-project-container .row.col-xs-12.col-md-9, .lyrics-project-container .row.col-xs-12.col-md-3, 
	#collaborators-page.row.col-xs-12.col-md-9, .youtube-page.row.col-xs-12.col-md-9, .groups-page.row.col-xs-12.col-md-9, 
	.favorites-page.row.col-xs-12.col-md-9, #messages-page.row.col-xs-12.col-md-9 { margin-left: 0 !important; } // Aligns with ".glyphicon-user"
	.profile-right-container {
		padding-right: 15px;
	}
	.profile-right-container.project-details-page { padding-left: 15px; }
	section.profile-right.profile-page.public-profile-pages { margin-top: 15px; }
	section.profile-right.profile-page { // Profile Page only
		height: 1026px !important; 
		margin-top: 25px; 
	}
	#new-project-page.row.col-xs-12.col-md-9 { 
		li { 
			display: block; 
			&:not(.first-list-item) { padding-left: 5px; }
		}
		img.instrument { margin-top: 0; }
		section#choose-project-img-container, section#choose-mp3-file-container {
			h5 { font-weight: normal; } // So it doesn't blend in with "Project Image" and "MP3 File"
		}
	}
	section.projects-container {
		h4, h5 { margin-bottom: 0; }
		h4 { margin-top: 0; }
		h5 {
			&.last-h5.sm { display: none; }
			&.last-h5.xs { display: block; }
		}
	}
	#upload-stage-background-img-container { margin-top: 15px; }
	.type-of-collab-container {
		height: 98px !important;
		input { width: 90%; }
	}
	.messages-container.col-xs-9 { padding-right: 15px !important; }
	#privacy-page, #terms-page, #faqs-page {
		h1 {
			font-size: 28px;
			margin-top: 0;
		}
	}
}

@media only screen and (max-width: 731px) {
	.project-info-bar.requesting-collab-page {
		&.sm { display: none; }
		&.xs {
			display: block;
			h4, h5 { margin-top: 7px; }
			h4:not(.last-h4), .glyphicon-volume-up { margin-left: 5px; }
			h4:not(.last-h4) { // Not "100"
				font-size: 12px;
				margin-left: 5px;
			}
			h5 { margin-left: 10px; }
		}
	}
}

@media only screen and (max-width: 688px) {
// Breakpoint of "Pause and scrolling speed" box
	section#lyrics-settings-sm { display: none; }
	section#lyrics-settings-xs { 
		display: block;
		input.save {
			margin-bottom: 10px;
			margin-top: 0;
		}
	}
}

@media only screen and (max-width: 662px) {
// Breakpoint of "Post New Request" button ("Players Wanted" Page)
	#players-wanted-page { 
		h3 { margin-left: 0; }
		button { margin-right: 0 !important; }
	}
}

@media only screen and (max-width: 606px) {
	.project-info-bar {
		select.project-type {
			float: none;
			margin-bottom: 8px;
			margin-left: 10px;
			margin-top: 0;
		}
		h5 { margin-left: 10px; } // Aligns date project started with project name
	}
	ul#copyright-types-container {
		img { margin-left: 5px !important; }
		h4 { font-size: 12px; }
	}
	section.change-project-img-container {
		h4, input { display: block !important; }
		h4 { 
			margin-bottom: 0;
			margin-left: 18px !important;
		}
		input {
			&.choose-file { 
				margin-left: 0 !important;
				margin-top: 0; 
			}
			&.update-file { float: none !important; }
		}
	}
}

@media only screen and (max-width: 580px) {
// Breakpoint of "Select a song" modal (Live Player Page)
	h1.landing-page { font-size: 24px; } // "Online Music Collaboration Made Simple"
	section {
		&#technology, &#backstage, &.music-ed, &.contests-and-auditions {
			h2 { font-size: 23px; }
			p { font-size: 15px; }
			a { font-size: 12px; }
		}
	}
	#forum-page { 
		img#dialog-boxes { margin-left: 30px; } // "Talk with Members"
		button { margin-right: 0 !important; }
	}
	img#select-song-img { display: none; } // "Select a song modal"
	.public-project-info.type-of-collab-container {
		padding-bottom: 15px;
		div#song-description-container {
			display: block;
			img#cover-song, h5#song-description {
				float: none !important;
				margin-top: 0;
			}
			img#cover-song {
				margin-right: 4px !important;
			}
		}
	}
	.volume-and-pan.sm { display: none; }
	.volume-and-pan.xs {
		display: block;  
		height: 103px;
		h4 {
			&.left-to-right, &.right { margin-bottom: 0; }
			&.left-to-right { margin-left: 32px; }
		}
		input.save-volume-and-pan {
			float: none;
			margin-left: 26px;
		}
	}
	#info-below-youtube-player h4 { margin-bottom: 5px; }
	.youtube-page-form {
		label { @include form-fields-label(10px); }
		select, input.name { width: 100%; }
		input#save-name, input#edit-name { margin-top: 10px; }
		.sm { display: none; }
		.xs {
			display: block;
			label#name-label { margin-left: 0 !important; }
		}
	}
	section.create-new-group-container select { @include form-fields-input(50%); } // "Select Project"
}

@media only screen and (max-width: 569px) {
// Landscape mode of Motorola Defy, Droid, Droid X, Milestone
	img#cover-song { margin-top: 0 !important; }
}

@media only screen and (max-width: 514px) {
// Breakpoint of copyright types
	ul#copyright-types-container { height: 743px !important; }
}

@media only screen and (max-width: 496px) {
// Breakpoint of "Post New Request" button ("Players Wanted" Page)
	#players-wanted-page, #forum-page {
		button.post-new-request, h3#musiclaps-forum, img#dialog-boxes { float: left !important; }
		span.username { margin-left: 0 !important; }
	}
	#players-wanted-page {
		button { margin-top: 0 !important; }
		h3 { display: block; }
		span.username { margin-left: 0; }
	}
	#forum-page {
		img#dialog-boxes { margin-top: 15px; }
	}
	.youtube-links a:not(.first-link) { padding-left: 0 !important; }
	#info-below-youtube-player h4 { font-size: 12px; }
}

@media only screen and (max-width: 464px) {
// Breakpoint of "(so that you can record)." (Live Player Page)
	section#recording-instructions {
		#allow-flash-instructions { margin-top: 20px !important; }
	}
}

@media only screen and (max-width: 459px) {
// Breakpoint of Youtube link
	.public-project-info.type-of-collab-container h5 { margin-top: 15px; }
}

@media only screen and (max-width: 449px) {
// Breakpoint of "Post New Topic" button
	button.post-new-topic {
		float: left !important;
		margin-left: 25px !important;
		margin-top: 0 !important;
	}
}

@media only screen and (max-width: 447px) {
// Breakpoint of "You can add up to 3 YouTube videos per project" (YouTube Page)
	#info-below-youtube-player img { margin-top: 10px; }
	#project-details-container h4 { font-size: 12px; }
	#privacy-page, #terms-page, #faqs-page {
		h1 { font-size: 20px; }
	}
}

@media only screen and (max-width: 417px) {
// Breakpoint of "Select a song" heading (Live Player Page)
	h3.select-song-heading { font-size: 15px; }
	#project-details-container h4 { font-size: 10px; }
	section.profile-right.profile-page.project-details-page .row { margin-left: 15px; }
	h2.user-id, h4.edit-profile, h4.save-profile { margin-left: 10px; }
	#upload-avatar { border-bottom: none !important; }
	input.save#save-genre { 
		float: right; 
		margin-left: 0 !important; 
	}
	#genre-form-projects { width: 100%; }
}

@media only screen and (max-width: 400px) {
// Portrait mode of Samsung Galaxy Note; padding affects iPhone 3GS, 4, and 5
	h1.landing-page {  // "Online Music Collaboration Made Simple"
		font-size: 30px;
		padding-left: 5px;
		padding-right: 5px;
	}
	section#recording-instructions {
		#recording-buttons-instructions h2 { margin-top: 5px; }
		#allow-flash-instructions { margin-top: 10px !important; }
		#recording-start-instructions h2 { margin-top: 0; }
	}
	ul#copyright-types-container h4.last-h4 { margin-left: 15px !important; } // "All Rights Reserved"
}

@media only screen and (max-width: 399px) {
	section {
		&#technology, &#backstage, &.music-ed, &.contests-and-auditions {
			h2 { font-size: 20px; }
			p { font-size: 12px; }
		}
	}
	#forum-page .table-scroll-x-axis {
			margin-left: 15px;
			padding-left: 0;
			width: 89%;
	}
	section.username-and-number-of-songs {
		h4, h5 { margin-left: 22px !important; }
	}
	select { font-size: 11px; }
	#edit-save-profile {
		h4 {
			&.save-profile { margin-bottom: 5px; }
			&.dont-save-profile { 
				margin-left: 10px; 
				margin-top: 0 !important; 
			}
		}		
	}
	#upload-avatar ul { margin-left: 10px !important; }
	section.project-form-header {
		h3 { margin-right: 0; } // For "Requesting Collab" page project listings
		.glyphicon-lock { margin-right: 3px; }
	}
	.project-info-bar {
		select.project-type {
			margin-left: 4px; 
			margin-right: 5px;
		}
		&.requesting-collab-page {
			height: 60px;
			input.save-volume { display: none; }
		}
	}
	form.project-form {
		input.credit-cover-song, textarea.description, textarea.search-tags { font-size: 10px; }
		#no-img-container { 
			height: 63.3px !important; // One-third the size of recommended height (620px)
			width: 206.7px !important; // One-third the size of recommended width (190px)
		}
		ul#copyright-types-container { height: 900px !important; }
	}
	section#messages-header button { 
		float: none;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.add-friend-container {
		label, input.add-friend-field { float: left; }
		input.add-friend-field { 
			@include form-fields-input(100%);
			margin-top: 5px; 
		}
	}
	.project-info-bar.groups-page select.project-type { margin-left: 10px; }
}

@media only screen and (max-width: 375px) {
// Portrait mode of iPhone 6
	.public-project-info.type-of-collab-container {
		h5 { 
			margin-bottom: 0 !important; 
			margin-top: 0 !important;
		}
		img#cover-song { margin-top: 12px !important; }
	}
	.share-to-social-networks-container img:not(.first-img) { margin-left: 12.5px; }
}

@media only screen and (max-width: 360px) {
// Portrait mode of Blackberry Z30; Google Nexus 5; HTC One X, EVO LTE; HTC Sensation, Evo 3D; Nokia C5, C6, C7, N97, N8, X7; 
// Samsung Galaxy Note 3; Samsung Galaxy Note II; Samsung Galaxy III, Galaxy Nexus; Samsung Galaxy S4; Sony Xperia S, Ion; Sony Xperia Z, Z1
	#select-song-container { margin-left: 0; }
	section.public-project-header {
		h3.public-project-page { margin-bottom: 0; }
		h5 {
			float: none;
			margin-top: 0;
		}
	}
	.share-to-social-networks-container img:not(.first-img) { margin-left: 9px; }
}

@media only screen and (max-width: 320px) {
// Portrait mode of iPhone 3GS, 4, 5; Google Nexus S; HTC Evo, Touch HD, Desire HD, Desire; LG Optimus 2X, Optimus 3D, Optimus Black; 
// Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900; Samsung Galaxy S, S II, W
	h1.landing-page { font-size: 24px; } // "Online Music Collaboration Made Simple"
	#stage-inner p { margin-top: -36px !important; } // "Record a Demo"
	section#recording-instructions {
		#recording-buttons-instructions h2 { margin-top: 0; }
		#recording-buttons-img { margin-top: 15px; }
		#allow-flash-instructions { margin-top: 0 !important; }
		#recording-area-img img { margin-top: 35px; }
	}
	.share-to-social-networks-container img:not(.first-img) { margin-left: 2.5px; }
	h2.user-id, h4.edit-profile, h4.save-profile, h4.dont-save-profile { margin-left: 20px !important; }
	section.public-projects-and-collaborations {
		.row.col-xs-6.col-sm-8.col-md-6 { padding-right: 0; } // Adds more space to the right part of the tile
		h4, h5 { margin-left: 6px !important; }
	}
	form.profile-page input.zip-or-postal-code { margin-left: 0; }
}