@import "_customized.bootstrap.min.scss";

/* ===================================
    Variables
=================================== */
$nav-border: 1px solid #cecece;
$musiclaps-light-gray: #e7e7e7;
$musiclaps-dark-gray: #444; // Whichever shade of gray is in the final logo - TBD
$musiclaps-blue: #38AAFF; // Whatever shade of blue you want
$modal-border: 5px solid $musiclaps-light-gray;

/* ===================================
    Mixins
=================================== */
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
		 border-radius: $radius;
}

@mixin nav-border($color) {
	border-left: 1px solid $color;
	&:first-child {
	border-left: none;
	}
}

@mixin nav-link($color, $font-size) {
	color: $color !important;
	font-size: $font-size;
	line-height: 0;
}

@mixin form-fields-input($width) {
	@include border-radius(5px);
	border: $nav-border;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-top: 4px;
	width: $width;
}

@mixin form-fields-label($margin-top) {
	margin-bottom: 2px;
	margin-top: $margin-top;
}

@mixin submit($background-color, $padding-top, $padding-right, $padding-bottom, $padding-left, $hover-color) {
	background-color: $background-color;
	border: $nav-border;
	padding: $padding-top $padding-right $padding-bottom $padding-left;
	&:hover, &:focus {
		background-color: $hover-color;
	}
}

@mixin heading($font-size, $margin-bottom, $margin-top) {
	color: $musiclaps-dark-gray;
	font-size: $font-size;
	font-weight: normal; // For customized Bootstrap CSS file
	letter-spacing: 0.5px;
	margin-bottom: $margin-bottom;
	margin-top: $margin-top;
	text-align: center;
}

@mixin transform($degrees) {
	-webkit-transform:rotate($degrees);
	   -moz-transform:rotate($degrees);
		-ms-transform:rotate($degrees);
		 -o-transform:rotate($degrees);
			transform:rotate($degrees);
}

@mixin section-paragraph-and-links {
	p {
		font-size: 18px;
		letter-spacing: 0.25px;
		margin-bottom: 0;
		margin-top: 0;
	}
	a {
		@include nav-link(#1F91E6, 16px);
		&:hover, &:focus {
			color: $musiclaps-dark-gray !important;
		}
	}
}

@mixin button ($background-color, $font-size, $padding) {
	@include border-radius(10px);
	background-color: $background-color;
	border: none;
	color: white;
	font-size: $font-size;
	letter-spacing: 0.5px;
	padding: $padding;
}

/* ===================================
    Global
=================================== */
html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	// padding-top: 120px; // For fixed Bootstrap nav bar
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 0;
	li { 
		list-style-type: none;
	}
}

a:hover, a:focus {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

#register-or-login-modal-body, .modal-footer:not(.registration-modal-footer), .navbar-right {
	input { // Modal buttons and nav "Log out" button
		@include border-radius(10px);
		@include submit($musiclaps-light-gray, 5px, 10px, 5px, 10px, #d9d9d9);
	}
}

label#birth-date-label-modal, label#gender-label, label#birth-date-label-profile { // Full registration modal and Profile Page 
	margin-right: 2px;
}

.musiclaps-blue {
	color: $musiclaps-blue !important;
}

span.block {
	display: block;
}

span.bold {
	font-weight: bold;
}

span.normal {
	font-weight: normal;
}

#facebook-icon, #google-icon {
	height: 27px;
	width: 27px;
}

#twitter-icon, /* https://about.twitter.com/press/brand-assets: "When using the bird with other logos and graphic elements, maintain a safety space that equals 200% the size of the square around the bird. */
#microsoft-icon {
	height: 29px;
	width: 29px;
}

/* ===================================
    Nav
=================================== */
nav:not(#nav-registered-user) .nav li { // Not logged in nav
	margin-top: 23px;		
}

nav {
	&.navbar {
		border-radius: 0;
	}
	&.navbar-default {
		background-color: $musiclaps-light-gray;
		border-bottom: $nav-border;
	}
	.navbar-header {
		height: 78px;
		img { // Musiclaps logo
			height: 45px;
			width: 155px;
		}
	}
	.nav li {
		a {
			@include nav-link($musiclaps-dark-gray, 14px);
			letter-spacing: 0.5px;
			text-transform: uppercase;
			&:hover, &:focus, &.active {
				color: $musiclaps-blue !important;
			}
		}
	}
	.navbar-left li {
		@include nav-border(#cecece);
	}
	.navbar-right#logged-out li {
		border: $nav-border;
		&:first-child { // "Log in" button
			background-color: lightgray;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
			&:hover {
				background-color: #d9d9d9;
			}
			a:hover {
				color: black !important;
			}
		}
		&:last-child { // "Register" button
			background-color: $musiclaps-blue;
			border: 1px solid $musiclaps-blue;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
			&:hover {
				background-color: #45B7FF;
			}
			a {
				color: white !important;
			}
		}
	}
	.navbar-toggle {
		margin-top: 23px;
	}
	.navbar-collapse {
		border-top: none;
	}
}

	/* ===================================
	    Logged in Nav
	=================================== */
	#welcome-user {
		margin-right: 20px;
		margin-top: 28px !important;
	}

	#nav-registered-user { // Nav below top nav
		background-color: $musiclaps-light-gray;
		padding-left: 0;
		li {
			padding: 10px 16px;
			a {
				@include border-radius(10px);
				background-color: #F4F4F4;
				font-size: 12px;
				&.active {
					background-color: $musiclaps-dark-gray !important;
				}
			}
		}
	}

/* ===================================
    Modal
=================================== */
.modal-content {
	color: $musiclaps-dark-gray;
	border-bottom: $modal-border;
	border-left: $modal-border;
	border-right: $modal-border;
	.modal-header {
		border-top: $modal-border;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		button.close {
			background-color: white;
			border: none;
			color: $musiclaps-blue;
			float: right;
			font-size: 21px;
			line-height: 1;
			text-shadow: 0 1px 0 #fff;
			&:hover, &:focus {
				color: #52C4FF;	
			}
		}
	}
	h2.register-modal-heading, h2.registration-full-modal-heading, 
	h2.registration-express-modal-heading, h2.login-modal-heading {
		letter-spacing: 0.5px;
		}
	h2.registration-express-modal-heading { // Not sure why this is the only heading which needs bold property specified
		font-weight: bold !important;
	}
	h3.want-demo-heading, h3.select-song-heading {
		text-transform: uppercase;
	}
	.modal-body {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		h4 {
			margin-bottom: 0;
			margin-top: 12px;
		}
		ul {
			display: inline-block;
			a:hover { // Songs link on "Select a song" modal
				color: $musiclaps-dark-gray;
			}
		}
		&#walkthrough {
			h4 {
				font-weight: normal;
				margin-bottom: 10px;
				margin-top: 0;
			}
		}
		#rainbow-music-notes {
			margin-top: 15px;
			height: 179px;
			width: 270px;
		}
	}
	#sn-login-modal-body, #sn-login-modal-body-sm, 
	#registration-express-modal-body, #login-modal-body, .modal-footer {
		text-align: center;
	}
	#sn-login-modal-body, #sn-login-modal-body-sm, 
	#registration-full-modal-body, #registration-express-modal-body, {
		border-bottom: 1px solid #e7e7e7;
		border-radius: 0;
		padding-top: 0;
		width: 100%;
	}
	#sn-login-modal-body, #sn-login-modal-body-sm {
		padding-bottom: 0;
	} 
	#sn-login-modal-body { 
		li {
			display: inline-block;
			img {
				margin-left: 10px;
			}
		}
	}
	#sn-login-modal-body-sm {
		display: none; // Invisible at viewport widths >= 768px
	}
	#registration-full-modal-body, #registration-express-modal-body, #login-modal-body {
		padding-top: 0;
	}
	#registration-full-modal-body, #registration-express-modal-body {
		input { // Form fields
			@include form-fields-input(100%);
		}
		.glyphicon-question-sign, #password-req {
			color: $musiclaps-blue;
		}
		#password-req {
			font-size: 12px;
			margin-bottom: 2px;
		}
	}
	#login-modal-body input { // Form fields
		@include form-fields-input(90%);
	}
	#registration-full-modal-body, #registration-express-modal-body {
		label {
			@include form-fields-label(10px);
		}
		input { // Form fields
			margin-top: 0;
		}
	}
	label#email-label, label#birth-date-label-modal, label#gender-label, label#zip-label, #captcha-img, #checkbox {
		@include form-fields-label(15px);
	}
	#captcha-img {
		display: block;
	}
	#checkbox input {
		width: 12px;
	}
	#checkbox {
		font-size: 12px;
	}
	#login-modal-body {
		input:first-child { // Form field
			margin-top: 15px;
		}
		input {
			margin-top: 20px;
		}
	}
	#register-or-login-modal-body {
		input {
			display: block;
			font-weight: bold;
			width: 100%;
		}
		input:first-child {
			margin-top: 5px;
		}
		input:last-child {
			margin-top: 20px;
		}
	}
	.modal-footer {
		a { // "Forgot password" link
			margin-right: 58px;
			&:hover, &:focus {
				color: $musiclaps-dark-gray;
				cursor: pointer;
			}
		}
	}
	#register-modal-footer, .registration-modal-footer {
		border-top: none;
	}
	.registration-modal-footer input { // "Register" button
		@include border-radius(10px);
		@include submit($musiclaps-blue, 5px, 10px, 5px, 10px, #45B7FF);
		border: 1px solid #1F91E6;
		color: white;
		text-transform: uppercase;
		width: 100%;
	}
}

/* ===================================
    Landing Page
=================================== */
h1.landing-page {
	@include heading(30px, 0, 0);
	font-family: 'Roboto Condensed', sans-serif;
	a {
		color: $musiclaps-blue;
		&:hover, &:focus {
			color: $musiclaps-dark-gray !important;
		}
	}
}

	/* ===================================
	    Musical Notes Map
	=================================== */
	#landing-page-hero {
		margin-top: 30px;
		overflow: hidden;
		position: relative;
		text-align: center;
		#musical-notes-map {
			background-image: url('../../assets/images/landing-pg/musical-notes-map.png');
			height: 100%;
			margin-left: -1010em;
			position: absolute;
			width: 5000em;
			z-index: -1;
		    -webkit-animation: moveSlideshow 20s linear infinite normal forwards;
		       -moz-animation: moveSlideshow 20s linear infinite normal forwards;
		    	 -o-animation: moveSlideshow 20s linear infinite normal forwards;
		       		animation: moveSlideshow 20s linear infinite normal forwards;
		  	-webkit-transition: opacity 0.5s ease-out linear infinite normal forwards;
		  	   -moz-transition: opacity 0.5s ease-out linear infinite normal forwards;
		  		 -o-transition: opacity 0.5s ease-out linear infinite normal forwards;
		       	 	transition: opacity 0.5s ease-out linear infinite normal forwards; 
		}
	}

			@-webkit-keyframes moveSlideshow {
			    0% { left: 0; }
			    100% { left: 1010px; }
			}
			@-moz-keyframes moveSlideshow {
			    0% { left: 0; }
			    100% { left: 1010px; }
			}
			@-o-keyframes moveSlideshow {
			    0% { left: 0; }
			    100% { left: 1010px; }
			}
			@keyframes moveSlideshow {
			    0% { left: 0; }
			    100% { left: 1010px; }
			}

	/* ===================================
	    Stage
	=================================== */
	#stage {
		background-color: $musiclaps-dark-gray;
		height: 161px;
		text-align: center;
		width: 100%;
		#stage-inner {
			margin: 0 auto;
			width: 60%;
			#soundcheck, #record-demo {
				margin-top: 55px;
				padding-left: 0;
				padding-right: 0;
				a {
					color: white;
					font-family: 'Allerta Stencil', sans-serif;
					font-size: 26px;
					&:hover, &:focus {
						color: $musiclaps-blue;
					}
				}
			}
			#soundcheck {
				@include transform(7deg);
			}
			#record-demo {
				@include transform(-7deg);

			}
			p {
				color: $musiclaps-blue;
				font-size: 12px;
				margin-top: 25px;
				text-transform: uppercase;
				sup {		
					letter-spacing: 4px;
					&:nth-child(2), &:last-child {
						display: none; // Invisible at viewport widths <= 1117px
					}
				}
			}
			ul {
				margin-top: -37px;
				li {
					display: inline-block;
					img { // Play, pause, stop, and record buttons
						-webkit-transition: 0s linear;
						   -moz-transition: 0s linear;
							 -o-transition: 0s linear;
								transition: 0s linear;
						width: 75%;
						min-width: 57px;
						&:hover {
							-webkit-transform: scale(1.1);
							   -moz-transform: scale(1.1);
								-ms-transform: scale(1.1);
								 -o-transform: scale(1.1);
									transform: scale(1.1);
						}
					}
				}
			}
		}
	}

	/* ===================================
	    Image Slider
	=================================== */	
	.wmuSlider {
		height: 161px;
	    position: relative;
	    overflow: hidden;
		// .wmuSliderWrapper {
	 //    	display: none;
		// }
		.wmuSliderWrapper article {
			height: 161px;
		    // position: relative;
		    text-align: center;
		    img { // Album covers
		    	// max-width: 100%;
			    opacity: 0.9;
			    // width: auto;
			    height: 161px;
			    width: 161px;
			    &:hover {
			    	cursor: pointer;
			    	opacity: 1;
			    }
		    }
		}
	}

	.wmuSliderPrev, .wmuSliderNext { // Left and right arrow buttons
	    position: absolute;
	    width: 40px;
	    height: 80px;
	    text-indent: -9999px;
	    background: url('../../assets/images/landing-pg/sprites.png') no-repeat 0 0;
	    top: 50%;
	    margin-top: -40px;
	    // z-index: 2;
	}

	.wmuSliderPrev {
	    background-position: 100% 0; /* Controls direction of left slider button */
	    left: 100px;
	}

	.wmuSliderNext {
	    right: 100px;
	}

	/* ===============================================================
	    Technology, Backstage, Music Education, Contests and Auditions
	=============================================================== */
	#technology, #backstage, #music-ed, #contests-and-auditions {
		padding-bottom: 30px;
		h2 {
			@include heading(26px, 15px, 30px);
		}
		@include section-paragraph-and-links;
		ul {
			margin-top: 0;
			li:first-child {
				padding-top: 20px;
			}
			li:not(.first-list-item) {
				padding-top: 10px;
			}
			// a:visited {
			// 	color: $musiclaps-dark-gray !important;
			// }
		}
	}

	#technology, #backstage, #music-ed {
		border-bottom: $nav-border;
	}

	#technology, #music-ed {
		background-color: $musiclaps-light-gray;
	}

	#backstage, #contests-and-auditions {
		background-color: white;
	}

	#technology img {
		margin-top: 120px;
		width: 200px;
	}

	#backstage img, #music-ed img, #contests-and-auditions img {
		width: 150px;
	}

	#backstage img {
		margin-top: 80px;
	}

	#music-ed img {
		margin-top: 70px;
	}

	#contests-and-auditions img {
		margin-top: 100px;
	}

/* ===================================
    Live Player Page
=================================== */
#live-player-container {
	margin-left: 0;
	text-align: center;
}

#select-song-container a:hover, #recording-instructions {
	color: $musiclaps-dark-gray;
}

#recording-instructions {
	h1 {
		text-align: center;
	}
	h2 {
		font-size: 18px;
		font-weight: normal;
		span:not(.block) {
			font-weight: bold;
			&.red {
				color: red;
			}
			&.green {
				color: green;
			}
		}
	}
	#recording-buttons-img {
		margin-top: 15px;
	}
	#allow-flash-instructions {
		margin-top: 35px;
	}
	#allow-flash-img {
		margin-top: 10px;
	}
	#allow-flash-chrome-container {
		margin-top: 15px;
		p {
			margin-bottom: 0;
		}
	}
	#record-start-instructions {
		margin-top: 45px;
	}
	#recording-area-img {
		margin-top: 22px;
	}
	#save-container {
		margin-top: 50px;
		text-align: center;
		button.save {  // "Save Recording" button
			@include button(green, 14px, 10px 20px);
			&:hover, &:focus {
				background-color: #1A9A1A;
			}
		}
	}
}

/* ====================================================================================
    Profile, New Project, Projects, Collaborations, YouTube, Messages, and Groups Pages
==================================================================================== */
#avatar-n-edit-profile, #recording-player-buttons {
	margin-top: 15px;
}

#recording-player-buttons {
	margin-bottom: 8px;
}

#avatar-n-edit-profile {
	#avatar {
		box-shadow: 10px 10px 5px $musiclaps-dark-gray;
		height: 100px;
		max-width: 100px;
	}
	h2#user-id {
		font-weight: normal;
		margin-top: 0;
	}
	#edit-save-profile {
		text-align: center;
		h4.edit-profile, h4.save-profile, h4.dont-save-profile {
			margin-top: 8px;
		}
		h4.save-profile, h4.dont-save-profile {
			display: inline-block;
		}
		.glyphicon, span#not-a-link {
			color: $musiclaps-dark-gray;
		}
	}
}

#about-me {
	border-top: $nav-border;
	margin-top: -65px;
	h4 {
		margin-bottom: 7px;
		margin-top: 2px;
	}
	ul.first-ul-profile-page, ul.second-ul-profile-page, ul.third-ul-profile-page {
		margin-top: 4px;
	}
	ul.first-ul-profile-page, ul.second-ul-profile-page {
		margin-bottom: 2px;
	}
	ul.first-ul-profile-page li {
		margin-right: 20px; // So it lines up better with "Edit Profile"
	}
	ul.third-ul-profile-page {
		margin-bottom: 0;
	}
	li.profile-page {
		display: inline-block;
		font-size: 12px;
		font-weight: 300;
	}
}

h4#my-profile {
	margin-bottom: 2px;
}

form.profile-page {
	label#birth-date-label-profile {
		margin-top: 5px;
	}
	label {
		@include form-fields-label(25px);
	}
	textarea {
		max-width: 100%; // Prevents user from expanding textarea horizontally
	}
	#birth-date-field, #zip, #website_url, #website_title { // Adds space btwn field and label
		margin-left: 5px;
	}
	#zip, #website_url, #website_title {
		@include form-fields-input(50%);
	}
	#genre, #skills {
		height: 106px;
	}
	#message {
		@include form-fields-input(100%);
	}
	img { // Upload image
		height: 120px;
		min-width: 120px;
	}
	#upload-avatar {
		border-bottom: $nav-border;
		li:first-child {
			padding-bottom: 5px;
		}
		li:last-child {
			padding-top: 5px;
			span {
				font-size: 12px;
			}
		}
	}
	input#save_profile {
		border-top: $nav-border;
		margin-top: -10px;
		margin-left: 290px;
	}
}

input#choose_file, input#save_profile, 
#choose-file-container input, #upload-project-container input {
	@include submit($musiclaps-light-gray, 3px, 10px, 3px, 10px, #d9d9d9);
	@include border-radius(10px);
}

#genre, #skills, #instruments {
	@include form-fields-input(12px);
	overflow-y: scroll;
	padding-top: 2px;
	width: 295px;
	span {
		display: block; // Makes options stack
	}
}

button.navigate {  // "Recording Player" and "Upload MP3" buttons
	@include button($musiclaps-dark-gray, 12px, 5px 10px);
	&:last-child {
		margin-left: 5px;	
	}
}

.button-navigate-hover-js {
	&:hover, &:focus {
		background-color: #555;
	}
}

#recording-player {
	background-color: $musiclaps-dark-gray;
	height: 352px;
	width: 606px;
}

section.upload-mp3-container {
	h4, h5 {
		margin-bottom: 5px;
		margin-top: 5px;
	}
	h5, li {
		font-size: 12px;
	}
	ul, #choose-file-container {
		border-bottom: $nav-border;
		padding-bottom: 10px;
	}
	ul {
		margin-bottom: 15px;
		li {
			display: inline-block;	
			&:first-child {
				font-weight: bold;
			}
			&:not(.first-list-item) {
				padding-left: 20px;
			}
		}
	}
	label#instruments-label {
		display: block;
	}
	label#comment-label {
		margin-top: 20px;
	}
	#comment {
		@include form-fields-input(100%);
		margin-bottom: 20px;
	}
	#choose-file-container {
		vertical-align: middle;
		width: 100%;
		span {
			font-size: 12px;
		}
	}
	#upload-project-container {
		margin-top: 30px;
		text-align: center;
	}
}

#profile-right {
	background-color: $musiclaps-light-gray;
	height: 944px;
	width: 137.5%;
	.row:first-child { // listeners/claps
		text-align: center;
	}
	.row:not(.first-row) { // listeners/claps
		height: 115px;
	}
	.row:not(.last-row) {
		border-bottom: 1px solid #999;
	}
	.row {
		margin-left: 15px;
		width: 90%;
	}
	.row#map-container {
		height: 223.6px;
	}
	h2 {
		margin-bottom: 3px;
	}
	h4 {
		margin-bottom: 5px;
	}
	h5 {
		font-weight: normal;
		margin-bottom: 10px;
		margin-top: 3px;
		width: 100%;
	}
	#map {
		background-color: lightblue;
		height: 160px;
		width: 100%;
	}
}

.db-error-message {
	color: $musiclaps-blue;
	font-weight: normal;
	text-align: center;
}

/* ===================================
    Footer
=================================== */
#wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; 
    min-height: 100%;
}

.space-above-footer {
	height: 100px;
}

footer {
	background-color: $musiclaps-light-gray !important;
	border-top: $nav-border !important;
	.navbar-brand {
		color: $musiclaps-dark-gray !important;
		font-size: 12px;
		img { // Musiclaps logo
			width: 50%;
		}
	}
	.navbar-left li {
		@include nav-border($musiclaps-dark-gray);
		margin-top: 13px;
		a {
			@include nav-link($musiclaps-dark-gray, 12px);
			&:hover, &:focus {
				color: $musiclaps-blue !important;
			}
		}
	}
	ul:last-child a {
		padding-left: 0;
		padding-right: 14.5px; 
	}
	#youtube-icon { /* http://www.youtube.com/yt/brand/using-logo.html: "Apply half of the icon's height as a base for clear space" */
		height: 29px;
		width: 69px;
	}
}

	/* ===================================
	    Privacy, Terms, and FAQs Pages
	=================================== */
	#privacy-page, #terms-page, #faqs-page {
		h1 {
			@include heading(30px, 0, 0);
			font-weight: bold;
			margin-top: 15px;
		}
	}

	#privacy-page h3, #terms-page h3, #faqs-page h4 {
		margin-bottom: 0;
	}

	#privacy-page p:not(#first-paragraph), #terms-page p, #faqs-page p {
		margin-top: 0;
		word-spacing: 1px;
	}

/* ===================================
    Media Queries
=================================== */
@media only screen and (max-width: 1474px) {
// Breakpoint of "Click on any button to start" (Landing Page)
	#stage-inner { width: 80% !important; }
}

@media only screen and (max-width: 1199px) {
// Breakpoint of slider buttons (Landing Page) and gray boxes (Profile Page)
	.wmuSliderPrev { left: 0; }
	.wmuSliderNext { right: 0; }
	#profile-right { 
		margin-top: -1px; 
		width: 136.75%; 
	}
}

@media only screen and (max-width: 1117px) {
// Breakpoint of "Click on any button to start" (Landing Page)
	#stage-inner {
		sup {
			&:first-child, &:nth-child(3) { display: none; }
			&:nth-child(2), &:last-child { display: inline-block !important; }
		}
	}
}

@media only screen and (max-width: 1090px) {
// Breakpoint of "About me" border (Profile Page)
	#about-me { border: none; }
}

@media only screen and (max-width: 1016px) {
// Breakpoint of Sound Check" and "Record a Demo" (Landing Page)
	#stage-inner { width: 100% !important; }
}

@media only screen and (max-width: 818px) {
// Breakpoint of "Record a Demo" (Landing Page)
	#stage-inner {
		#soundcheck, #record-demo {
			a { font-size: 20px !important; }
		}
		ul {
			margin-top: -20px !important;
			img { width: 65% !important; min-width: 49px !important; } // Play, pause, stop, and record buttons
		}
	}
}

@media only screen and (max-width: 991px) {
// Breakpoint of social media icons on footer  and gray boxes (Profile Page)
	#technology, #backstage, #music-ed, #contests-and-auditions {
		img { display: none; }
	}
	#profile-right { width: 150%; }
	footer {
		.navbar-brand { position: absolute; } 
		.navbar-left, .navbar-right { margin-top: 50px; }
		.navbar-left { 
			float: left !important; 
			padding-bottom: 15px; 
		}
	}
}

@media only screen and (max-width: 767px) {
// Breakpoint of Bootstrap's collapsed menu
	nav {
		&.navbar a:not(.navbar-brand) { margin-left: 10px; }
	 	.navbar-left { 
			margin-top: 0;
			li { border: none; /* Removes border to the left of links */ } 
		}
		.navbar-right#logged-out, .navbar-right#logged-in { margin-top: 0; }
		.navbar-right#logged-out li {
			&:first-child, &:last-child { 
				background-color: $musiclaps-light-gray !important; // Changes "Log in" and "Register" button color to match the rest of the links in the collapsed menu
				border: none; // Removes "Log in" and "Register" border color to match the rest of the links in the collapsed menu
				a:hover, a:focus { color: $musiclaps-blue !important; } // Changes "Log in" and "Register" link color to match the rest of the links in the collapsed menu
			}
			&:last-child { padding-bottom: 10px; }
			&:last-child a { color: $musiclaps-dark-gray !important; } // Changes "Register" link color so that it's visible and matches the rest of the links in the collapsed menu
		}
		.navbar-right#logged-in {
			#welcome-user { display: none; }
			input { // "Log out" button
				border: none;
				margin-left: 15px;
				text-transform: uppercase;
				&:hover, &:focus {
					background-color: $musiclaps-light-gray;
					color: $musiclaps-blue;
				}
			}
		}
	}
	#sn-login-modal-body { display: none; }
	#sn-login-modal-body-sm {
		display: inline-block !important;
		ul { text-align: left; }
		li:not(.first-list-item) { margin-top: 15px; }
		img { margin-bottom: 1px; } // Social media icons
		input { // Social media login buttons - only visible at viewport widths <= 767
			@include submit($musiclaps-light-gray, 3px, 6px, 3px, 6px, #d9d9d9);
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			margin-left: 2px;
		}
	}
	h1.landing-page { font-size: 24px; }
	#musical-notes-map { // Makes map static on smaller devices
		margin-left: 0;
		width: auto;
	    -webkit-animation: none 0 ease 0 1 normal none running;
	       -moz-animation: none 0 ease 0 1 normal none running;
	    	 -o-animation: none 0 ease 0 1 normal none running;
	       		animation: none 0 ease 0 1 normal none running;
	  	-webkit-transition: all 0 ease 0;
	  	   -moz-transition: all 0 ease 0;
	  		 -o-transition: all 0 ease 0;
	       	 	transition: all 0 ease 0; 
	}
	#stage-inner {
		#soundcheck, #record-demo {
			a { display: none; }
		}
		p { margin-top: -30px !important; }
		ul { margin-top: -40px !important; }
	}
	#technology, #backstage, #music-ed, #contests-and-auditions {
		h2 { font-size: 22px; }
		p { font-size: 16px; }
		a { font-size: 14px; }
	}
	.wmuSlider { display: none; } /* Hides image slider below stage */
	#privacy-page, #terms-page, #faqs-page {
		h1 {
			font-size: 28px;
			margin-top: 0;
		}
	}
	h2#user-id, #edit-save-profile { text-align: left !important; }
	#about-me {
		margin-left: 5px;
		margin-top: 15px;
		li.profile-page {
			display: block;
			float: none !important;
			margin-top: 8px;
		}
	}
	#profile-right { 
		margin-top: 20px; 
		width: 100%; 
	}
	footer {
		.navbar-left {
			margin-left: 5px;
			li { border: none; } /* Removes border to the left of links */
		}
		.navbar-right {
			float: right !important;
			text-align: right;
		}
	}
}

@media only screen and (max-width: 590px) {
// Breakpoint of "Online Music Collaboration Made Simple...Just Log in and Start Recording" (Landing Page) 
	h1.landing-page { font-size: 20px; }
}

@media only screen and (max-width: 580px) {
// Breakpoint of "Select a song" modal (Live player Page)
	#rainbow-music-notes { display: none; }
}

@media only screen and (max-width: 461px) {
// Breakpoint of "No file chosen" (Profile Page)
	#upload-avatar {
		border: none !important;
		ul {
			margin-left: 10px;
			margin-top: -3px;
		}
	}
	#save_profile { margin-left: 135px !important; }
}

@media only screen and (max-width: 417px) {
// Breakpoint of "Select a song" heading (Live player Page)
	h3.select-song-heading { font-size: 15px; }
	h2#user-id, h4.edit-profile, h4.save-profile { margin-left: 10px; }
	#about-me { border-top: none; }
}