<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Official Site of Musiclaps">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../../favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="228x228" href="../../favicon-228.png">
	<link rel="apple-touch-icon-precomposed" sizes="195x195" href="../../favicon-195.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="../../favicon-128.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="../../favicon-96.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../favicon-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../favicon-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="48x48" href="../../favicon-48.png">
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> --><!-- Link left in for testing purposes -->
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
	<title>Musiclaps | FAQs</title>
	<!-- [if lt IE 9]> -->
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!-- [endif] -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../assets/javascripts/customized.bootstrap.min.js"></script>
	<script src="../../assets/javascripts/index.js"></script>
	<script src="../../assets/javascripts/wmuSlider.min.js"></script>
	<script src="../../walkthrough/assets/js/standard.js"></script><!-- Julie's Captivate -->
	<script src="../../assets/javascripts/public-project.js"></script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header"><!-- For Firefox and IE -->
	            <button id="navbarToggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
	            </button>
	            <h4 id="menuJS" data-toggle="collapse" data-target=".navbar-collapse">Menu</h4>
				<a class="navbar-brand" href="../../index-logged-in.html">
					<img src="../../assets/images/header-and-footer/musiclaps-logo.png" alt="Musiclaps logo">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<div class="dropdown">
							<a class="dropdown-toggle" id="musicDropdownLink" data-toggle="dropdown">Music<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" id="musicDropdownMenu" role="menu" aria-labelledby="musicDropdownLink">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/new-arrivals/index-logged-in.html">New Arrivals
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/recommended/index-logged-in.html">Recommended
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/staff-picks/index-logged-in.html">Staff Picks
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/collaborations/index-logged-in.html">Collaborations
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/all-music/index-logged-in.html">All Music
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a class="dropdown-toggle" id="peopleDropdownLink" data-toggle="dropdown">People<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" id="peopleDropdownMenu" role="menu" aria-labelledby="peopleDropdownLink">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/players-wanted/index-logged-in.html">Players Wanted
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/under-construction/index-logged-in.html">Players Available
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/forum/index-logged-in.html">Forum
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/under-construction/index-logged-in.html">Collab Cafe
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a class="dropdown-toggle" id="ourStoryDropdownLink" data-toggle="dropdown">Our Story<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" id="ourStoryDropdownMenu" role="menu" aria-labelledby="ourStoryDropdownLink">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/under-construction/index-logged-in.html">Technology
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/under-construction/index-logged-in.html">Company
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../../views/under-construction/index-logged-in.html">Contact
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>

				<form class="search" action="" method="get">
					<span class="glyphicon glyphicon-search" id="glyphiconSearch"></span><input class="search" id="searchJS" type="text" name="search" placeholder="Search">
				</form>
				
				<ul id="flags">
					<li><a><img id="usa-flag" src="../../assets/images/header-and-footer/usa-flag.jpg" alt="American flag"></a></li>
					<li><a><img src="../../assets/images/header-and-footer/japan-flag.jpg" alt="Japanese flag"></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="logged-in">
					<li class="messages-sm"><span class="glyphicon glyphicon-envelope"></span></li>
					<li class="messages-sm" id="number-of-messages">1</li>
					<li id="welcome-user-sm">Welcome, &nbsp;<span class="musiclaps-blue"><a class="welcome-user-link" href="../../views/profile/index.html">$firstname</a></span></li><!-- Hard-coded placeholder -->
					<li id="log-out">
						<form action="" method="post">
							<input type="submit" value="Log out">
						</form>
					</li>
					<li id="welcome-user-xs">Welcome, &nbsp;
						<span class="musiclaps-blue">
							<a class="welcome-user-link" href="../../views/profile/index.html">$firstname
							</a>
						</span>
						<span class="glyphicon glyphicon-envelope"></span>
						<span class="number-of-messages">1</span>
					</li><!-- Hard-coded placeholder -->
				</ul>
			</div>
		</div>
	</nav>

	<div id="wrapper">
		<div class="container" id="faqs-page">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					
				<!-- Keep paragraphs to approximately 45-75 characters per line -->

				<h1>Musiclaps FAQs</h1>

				<h3>1. What is Musiclaps?</h3>
					<p>
						Musiclaps is a new online service that enables people worldwide to collaborate musically.  
						Using our technology, registered users can easily record, upload, and share tracks, allowing registered users of their choosing to collaborate with them.<br><br>

       					Musiclaps has the functionality of social networking applications with such features as adding friends, sending messages, posting comments, favoriting, sharing, and embedding, as well as a unique feature - clapping!
       				</p>

       			<h3>2. What are the system requirements?</h3>
       				<p>
       					More than 2GB of RAM and Microsoft Windows XP (SP3), Windows Vista (SP2), Windows 7, or Mac OS 10.5+.
       				</p>

       			<h3>3. What are the browser requirements?</h3>
					<p>
						We highly recommend <a href="//www.google.com/intl/en_us/chrome/browser/" target="blank">Google Chrome</a>.  
						Firefox, Safari, and Internet Explorer 10+ are also good.
       				</p>

       			<h3>4. What is the "Live Player"?</h3>
       				<p>
       					The Live Player is Musiclaps’s original online application for recording and playing multiple tracks.
       				</p>

       			<h3>5. What is the "Recording Player"</h3>
       				<p>
       					The Recording Player is Musiclaps’s original online application for recording.  
       					It can also be used as an accompaniment when playing alone.
       				</p>

		       <h3>6. Who is the project owner?</h3>
		       		<p>
			       		The project owner is the user who has initiated the recording and/or upload of a cover or original song (under "New Projects").
		       		</p>

		       	<h3>7. How does Musiclaps address song copyright law?</h3>
		       		<p>	
			       		For original songs, the project owner can select a traditional copyright or Creative Commons license.  
			       		<strong>For the purpose of collaboration, the project owner of an original song will want to select a Creative Commons license.</strong>  Please only select a copyright type if your project is using an original song.<br><br>

			       		If a copyright type is not selected, the song will automatically be classified as a cover.<br> 
			       		<strong>Note</strong>: Once saved for a particular project, the copyright type cannot be changed.
			       	</p>

		       	<h3>8. What is a part?</h3>
	       			<p>
		       			On Musiclaps, a part is an instrument or sound-related role.
		       		</p>

		       	<h3>9. What is a track?</h3>
		       		<p>
		       			A track is both a single recorded sound layer and a recording comprised of multiple tracks!  
		       			(On Musiclaps, the term will usually refer to the former.)  
		       			Final recordings are typically comprised of multiple, layered tracks with one part per track.  
       					For example, in a recording with piano, guitar, drums, and vocals, there would typically be at least 4 tracks, one for each part.
		       		</p>

		       	<h3>10. Where do I go to edit my project?</h3>
	       			<ul>
	       				<li>-Click on <span class="bold">My Projects</span> (User Menu)</li>
	       				<li>-Select the appropriate status (<span class="bold">In Progress/Private</span>, <span class="bold">Public</span>, <span class="bold">Group</span>, or <span class="bold">Audition</span>) from the dropdown menu</li>
	       				<li>-Click on the rectangular project tile</li>
	       			</ul>

		       	<h3>11. Where do I go to change my project's status (Private, Public, Group, or Audition)?</h3>
		       		<p> 
			       		Since projects are not automatically listed, you need to follow these steps to change the status:
		       			<ul>
		       				<li>-Click on <span class="bold">My Projects</span> (User Menu)</li>
		       				<li>-Select <span class="bold">In Progress/Private</span> from the dropdown menu</li>
		       				<li>-Click on the rectangular project tile</li>
		       				<li>-Below the Live Player on the right-hand side, select the desired status</li>
		       			</ul>
				        A project's status can be changed at any time.
		       		</p>

			    <h3>12. Can I share "In Progress/Private" projects?</h3>
					<p>Yes.  
						Simply copy and paste the URL to privately share these projects with friends or any individuals you choose.
					</p>

				<h3>13. What are the types of collaborations?</h3>
       				<p>
       					There are three types of collaborations: Open Collab, Requesting Collab and No Collab.  
       					For Open Collab and Requesting Collab, a user can collaborate with another user by adding track(s) using the Live Player.  
       					Up to 14 tracks can be added per project.
       				</p>

       			<h3>14. What is "Open Collab"?</h3>
       				<p>
       					Open Collab allows any registered user to add a track to, replace an existing track on, or otherwise edit another user's project.  
       					Open Collab projects display on the "Collaborations" page (<span class="bold">People</span> --> <span class="bold">Collaborations</span>), which is visible to the public.
       				</p>

       			<h3>15. What is "Requesting Collab"?</h3>
       				<p>
	       				Requesting Collab means that the project owner is requesting a specific part.  
	       				Requesting Collab projects display on the "Collaborations" page (<span class="bold">People</span> --> <span class="bold">Collaborations</span>), which is visible to the public.<br><br>
	       				
	       				Using the Live Player, registered users record and upload the requested part, and the project owner is automatically notified.  
						The project owner is able to listen to each track from a list of participating usernames.  
	       				If there is more than one submission for a single part, the project owner chooses their preference.
	       			</p>

	       		<h3>16. What is "No Collab"?</h3>
       				<p>
       					No Collab projects are the default and for listening only.<br>
       					<strong>Note</strong>: The status of a project can be changed from No Collab to Open Collab or Requesting Collab, but it cannot be changed back to No Collab.
       				</p>

				<h3>17. How do I change my project's image?:</h3>
			        <p>Click on the existing or default Musiclaps image and the "Change Project Image" bar will display below.
			        </p>

			      <h3>18. Can I add lyrics to my project?</h3>
			    	<p>
						Yes.  On the Lyrics page (<span class="bold">My Projects</span> --> <span class="bold">Lyrics</span>), all of your projects are displayed on a pull-down list.  
						Choose the project you want to add lyrics to and fill in the necessary fields and lyrics.  
						You can adjust the lyrics' scrolling speed by specifying a pause start/stop time and speed.
					</p>

				<h3>19. What are "YouTube Links"?</h3>
		       		<p>
			       		The YouTube Links feature enables a user to add a corresponding video to their project.  
       					For example, a cover song can link to the original music video posted on YouTube, or an original song can link to the user's own YouTube video.
		       		</p>

				<h3>20. What are groups?</h3>
		       		<p>
			       		Registered users who would like to collaborate with each other can form a group.  
				        Groups are created on a per project basis, and the project status must be "Group" (please see question #11 for instructions on how to change the status).<br><br> 
				        
				        The project owner chooses the project they would like to collaborate on and enters the group name and usernames of the participating users.  
				        A new group displays and the participating users are notified.  
				        Only participating users are able to listen to and participate in the group project, and only the project owner is allowed to add or edit the project information.<br><br> 
				        
				        Once the collaboration is finished and the project owner changes the status to something other than "Group", the group ends and is removed from the list.
		       		</p>

		       	<h3>21. What is the “Favorites” page?</h3>
		       		<p>	
			       		Projects you have favorited (clicked on the heart icon) are listed on this page.
			       	</p>

			    <h3>22. What instruments can I record with?</h3>
		       		<p>	
			       		Any.  You can easily record any instrument that connects with a cable (e.g. electric guitar, electric bass, keyboard, etc.).  
			       		You can record acoustic instruments (e.g. piano, acoustic guitar, trumpet, drums, vocals, etc.) using a mic.
			       	</p>

			    <h3>23. Can I use my computer‘s built-in mic for recording?</h3>
		       		<p>	
			       		It’s possible but not recommended since it will create feedback.
			       	</p>

			    <h3>24. The app is acting a little weird.  What should I do?</h3>
		       		<p>	
			       		Sometimes the problem can be solved by clearing your cache.  In Google Chrome you would follow these steps:
			       		<ul>
			       			<li>-Select the menu icon at the top right of the browser window and select <span class="bold">Settings</span></li>
			       			<li>-Click on <span class="bold">Show advanced settings</span> at the bottom of the page</li>
			       			<li>-Under "Privacy" click on the <span class="bold">Clear browsing data</span> button
			       			Empty the cache</li>
			       			<li>-Check the box next to <span class="bold">Cached images and files</span> - uncheck the rest of the boxes if you are unsure</li>
			       			<li>-Click the <span class="bold">Clear browsing data</span> button</li>
			       		</ul>
			       	</p>

			    <h3>25. I don't play an instrument.  Can I make an account just for listening?</h3>
		       		<p>	
			       		Yes!  As a registered user you can enjoy new music, add friends, send messages, post comments, and favorite, share, embed, or clap for songs you like!
			       	</p>

				<div class="col-sm-1 col-md-2 col-lg-3"></div>	

			</div>
		</div>


		<div class="space-above-footer"></div>
	</div>

	<footer class="navbar-default">
		<div class="container">
			<a class="navbar-brand" href="../../index-logged-in.html">
				<img src="../../assets/images/header-and-footer/musiclaps-logo.png" alt="Musiclaps logo">&nbsp; &copy; 2015
			</a>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="../../views/under-construction/index-logged-in.html">Company</a></li>
				<li><a href="../../views/under-construction/index-logged-in.html">Press</a></li>
				<li><a href="../../views/under-construction/index-logged-in.html">Contact</a></li>
				<li><a href="../../views/privacy/index-logged-in.html">Privacy</a></li>
				<li><a href="../../views/terms/index-logged-in.html">Terms</a></li>
				<li><a class="active" href="../../views/faqs/index-logged-in.html">FAQs</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="//www.facebook.com/Musiclaps" target="blank"><img class="facebook-icon" src="../../assets/images/global/facebook-icon.png" alt="Facebook icon"></a></li>
				<li><a href="//twitter.com/musiclaps" target="blank"><img class="twitter-icon" src="../../assets/images/global/twitter-icon.png" alt="Twitter icon"></a></li>
				<li><a href="//www.youtube.com/user/Musiclaps" target="blank"><img id="youtube-icon" src="../../assets/images/header-and-footer/youtube-icon.png" alt="YouTube icon"></a></li>
			</ul>
		</div>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<script>
		WebFont.load({
		    google: {
		      families: ['Roboto Condensed', 'Roboto:300,400,700']
		    }
		});
	</script>
	<script src="../../assets/javascripts/header.js"></script>
	<script src="../../assets/javascripts/forum.js"></script>
	<script src="../../assets/javascripts/user-menu.js"></script>
	<script src="../../assets/javascripts/profile/index.js"></script>
	<script src="../../assets/javascripts/profile/new-project.js"></script>
	<script src="../../assets/javascripts/profile/my-projects-and-collaborations.js"></script>
	<script src="../../assets/javascripts/profile/youtube.js"></script>
	<script src="../../assets/javascripts/profile/messages.js"></script>
	<script src="../../assets/javascripts/profile/groups.js"></script>
	<script src="../../assets/javascripts/live-player.js"></script>
	<script src="../../assets/javascripts/players-wanted.js"></script>
</body>
</html>